@import './variables.scss';
@import './status.scss';
@import './mixins.scss';

.container-client{
    max-width: 100%;
    max-height: 1200px;
    background-color: #fff;
    box-shadow: $box-shadow;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.card-header{
    @include flex-center(space-between, center);
    border-bottom: 1px solid $black;
    padding-bottom: 1rem;
}

.container-maior{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}


.toggle-icon{
    margin-right: 20px;
    cursor: pointer;
}

.arrow-down{
    @include arrow(down);
}

.arrow-up{
    @include arrow(up);
}

.entrega-title{
    font-size: 16px;
    color: #94ac54;
}

.container-delivery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 100%;
    row-gap: 1rem;
    column-gap: 2rem;
    margin-top: 1rem;
}

.spacing{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.delivery-description{
    display: flex;
    flex-direction: column;
}

.separator{
    max-width: 100%;
    border: 0;
    height: 2px;
    background-color: #ccc;
    margin: 1.5rem 0;
}

.card-body{
    height: 860px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
    
}

// tabela

.checkout-table{
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    table-layout: fixed;
}

.checkout-table th,
.checkout-table td {
    padding: 1rem;
    text-align: left;
    border-radius: 8px; 
    
}

.checkout-table thead th{
    background-color: #f5f5f5;
    font-weight: bold;
}

.product-details{
    display: flex;
    align-items: center;
}

.product-details img{
    width: 50px;
    height: auto;
    margin-right: 1rem;
}

.product-details div{
    display: flex;
    flex-direction: column;
}

.checkout-table tbody tr:last-child td{
    font-weight: 300;
}

.checkout-table tbody tr:last-child td p{
    margin: 0.5rem 0;
}

.checkout-table tbody tr:last-child td.total-info{
    text-align: right;
}

.table-prices{
    display: flex;
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.images-icon{
    border: 1px solid rgb(133, 132, 132);
    margin: 10px;
}
