//cores
$primary-color: #fefefe;
$secondary-color: #333;
$square-color-border: #c3d09e;
$square-color: #c3d09e;

$border-color: #f0f0f0;
$info-title: #909da9;

$background-container: #fff;
$border-color: rgba(99,99,99,0.2);

$circle-bg-pending: #e4c643;
$circle-border-pending: #d0ad11;
$circle-bg-delivery: #2ba846;
$circle-border-delivery: #2a662d;
$circle-bg-shipment: #54d7e2;
$circle-border-shipment: #77c8d1;


$black: #000;
$gray-bg: #f0f0f0;
$box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
$border-color: rgba(99,99,99,0.2);
$black: #000;


//fontes
$font-family: 'Roboto', sans-serif;


//espacamentos
$spacing-unit: 20px;
$gap: 2rem;